* {
    margin: 0;
}

.nav-container {
    background-color: black;
    margin-bottom: 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.btn {
    background-color: rgb(62, 132, 179);
    padding: 3px;
}

li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: silver;
}

.active,
.nav-title {
    color: white;
}

.main {
    display: flex;
    column-gap: 30px;
}

.profile {
    flex: 2;
    width: 100px;
}

.item-profile {
    border: 3px solid silver;
    margin-bottom: 10px;
}

.item-education {
    border: 3px solid silver;
}

.info-profile {
    padding: 20px;
}

.info-profile h1 {
    margin-bottom: 10px;
}

.head-education {
    background-color: black;
    padding: 7px;
    margin-bottom: 5px;
}

.head-education h4 {
    color: white;
}

.education {
    padding: 7px;
}

.flex-ubi {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 10px;
}

.connections {
    flex: 1;
    width: 100px;
}

.connection-resq {
    margin-bottom: 10px;
}

.head-connect-rq {
    display: flex;
    background-color: black;
    padding: 15px 10px;
    column-gap: 15px;
    align-items: center;
}

.head-connect-rq p {
    display: inline;
    background-color: silver;
    padding: 5px 8px;
    border-radius: 50%;
}

.head-connect-rq h4 {
    color: silver;
}

.head-profile {
    background-color: rgb(60, 155, 233);
    height: 100px;
    margin-bottom: -70px;
}

.description-profile {
    margin-bottom: 10px;
}

.container,
.nav,
.btn {
    font-family: 'Belanosima', sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.map,
.edit {
    height: 15px;
}

.user {
    border-radius: 50%;
    border: 2px solid silver;
    height: 120px;
    padding: 2px;
    background-color: white;
}

.user-card {
    background-color: aliceblue;
    width: 450px;
    border: 2px solid silver;
}

.head {
    background-color: rgb(95, 164, 185);
    height: 100px;
}

.body {
    padding-top: 50px;
    padding-left: 25px;
}

.edit {
    display: flex;
    align-items: center;
    column-gap: 3px;
    color: blue;
    text-decoration: underline blue;
}


.friend {
    border-radius: 50%;
    height: 50px;
}

.item-friend {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 7px;

}

.list-connect {
    list-style: none;
    padding: 0;
    border: 2px solid silver;
}

.icons {
    display: flex;
    align-items: center;
    column-gap: 10px;

}

.view {
    border: 2px solid silver;
    padding: 10px;

}